<div class="search">
  <div class="container">

    <div class=" row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <%= form_tag({:controller=>'search', :action=>'journal_search'}, {:method=>'get', :name=>'OpenURL', :id=>'OpenURL', :role =>'form', :class => "form-very-inline"})  %>

        <%= hidden_field_tag "rfr_id", "info:sid/sfxit.com:citation" %>
        <%= hidden_field_tag "rft.title", "", {:class => "rft_title"} %>
        <%= hidden_field_tag "rft.object_id", "", {:class => "rft_object_id"} %>
        <%= hidden_field_tag "rft.issn", "" %>
        <%= hidden_field_tag "umlaut.locale", I18n.locale %>
        <%= hidden_field_tag "umlaut.search_type", params['umlaut.search_type'] || "contains" %>
        <%-
            # specific article fields from prior form may be present, if the user is now choosing from
            # amongst serveral possible title matches. Preserve them on refinement of search terms.
        -%>
        <% params.slice("rft.date", "__year", "__month", "__day", "rft.volume", "rft.issue", "rft.spage").each_pair do |key, value| %>
            <%= hidden_field_tag key, value %>
        <% end %>


        <div class="form-group">
          <div class="input-group input-group-lg">
            <%= text_field :journal, :title, {:name=>'search_val', :value=>params['rft.jtitle'], :class=>"title_search form-control", :placeholder=> t(:title_or_issn), :autocomplete => "off"} %>
            <div class="input-group-btn">
              <button type="button" id="js_search_type_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span class="hidden-xs">
                        <% if params['umlaut.search_type'] %>
                          <%= t(params['umlaut.search_type'].to_sym)%>
                        <% else %>
                          <%= t(:contains) %>
                        <% end %>
                        <span class="caret"></span>
                      </span>
                <span class="visible-xs"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></span>

              </button>
              <ul id="js_search_type" class="dropdown-menu pull-right">
                <li id="contains"><a href="#"><%= t(:contains) %></a></li>
                <li id="begins"><a href="#"><%= t(:begins_with) %></a></li>
                <li id="exact_match"><a  href="#"><%= t(:exact_match) %></a></li>
                <li class="divider"></li>
                <li id="issn"><a href="#">ISSN</a></li>
              </ul>
            </div>
                    <span class="input-group-btn">
                        <%= button_tag "Search", {:name=>"Generate_OpenURL2", :class => "btn btn-primary"}  do content_tag(:span, '', {:class => "glyphicon glyphicon-search "}) end %>
                    </span>
          </div>
        </div>
        </form>
      </div>
    </div>

  </div>
</div>