
<div class="container">
  <%# Note - this is the feedback form for the resolve view %>
  <span class="help-block">
    <%= t '.help_text' %>
  </span>
  <%= form_tag("feedback", method: "post", class: "form-horizontal", id: "js_feedback", honeypot: true) do    %>

  <input type="hidden" name="id" value="<%=current_permalink_url %>"/>
  <input type="hidden" name="system" value="A-Z"/>
  <div class="form-group">
    <label for="name" class="control-label"><%= t '.your_name' %></label>
    <input type="text" class="form-control" id="name" name="name">
  </div>

  <div class="form-group">
    <label for="email" class="control-label"><%= t '.your_email' %></label>
    <input type="email" class="form-control" id="email" name="email">
  </div>

  <div class="form-group">
    <label for="comments" class="control-label"><%= t '.your_comments' %></label>
    <textarea id="comments" name="comments" class="form-control" rows="5"></textarea>
   </div>
  <div class="form-group">
      <div class="checkbox">
        <label>
          <span id="js_checkbox_label"><%= t '.checkbox_label' %></span>
        </label>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" id="js_feedback_submit" class="btn btn-primary"><%=t '.send' %></button>
  </div>
  <% end %>
</div>